* {
    margin:0;
    padding:0;
    outline:none
}
.header{
    width: 1400px;
    height: 250px;
}
.main-title{
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    color: #212121;
    padding: 100px 495px 0px 496px;
}
.line{
    margin: 25px 668px 30px 668px;
    width: 64px;
    height: 1px;
	border: none;
    border-top: 1px solid #E72424;
}
.subtitle{
    font-family:Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin: 0 0 0 519px;
}
.main {
    width: 1400px;
    height: 345px;
    text-align: center;
}
.block-left {
	display: inline-block; 
    width: 350px;
    height: 225px; 
    margin:31px 28px 0 143px;
    vertical-align: top   
}
.block-centr {
    display: inline-block; 
    width: 350px;
    height: 225px;
    margin: 31px 28px 0 0;
    vertical-align: top
}
.block-right {
    display: inline-block; 
    width: 350px;
    height: 225px;
    margin: 31px 143px 0 0;
    vertical-align: top
}
.block-title{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color:#333333;
    margin: 30px 80px 0 81px;
}
.p{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color:#333333;
    margin: 16px 0 20px 0;
}
.lamp-img{
    width: 23px;
    height: 30px;
    margin:20px;
}
.keyboard-img{
    width: 37px;
    height: 26px;
    margin-top: 20px;
}
.lightng-img {
    width: 21px;
    height: 33px;
    margin:19px;
}
.circle{
    border: 1px solid#E72424;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0px 140px 0px 140px;
}
