 {
    margin:0;
    padding:0;
    outline:none
}
.wrap {
    width: 1400px;
    margin:0px auto;
    font-family: Open Sans;
    box-sizing: border-box;
}
.header{
    width: 1400px;
    padding-top: 100px;
    padding-bottom: 36px;
    text-align: center;
}
.main-title{
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    color: #212121;
    margin-bottom: 25px;
}
.line{
    width: 64px;
    height: 1px;
	border: none;
    border-top: 1px solid #E72424;
    margin: 0 668px 30px 668px;
}
.subtitle{
    font-family:Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}
.main {
    width: 1400px;
    padding-bottom: 109px;
    text-align: center;
}
.block{
    display: inline-block;
    width: 350px;
    margin: 0 16px;
}
.block-title{
    margin-bottom: 29px;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}
.p{
    font-weight: 400;
    font-size: 14px;
    color:#333333;
    margin-top: 16px;
    margin-bottom: 20px;
}
.lamp-img{
    width: 23px;
    height: 30px;
    margin:20px;
}
.keyboard-img{
    width: 37px;
    height: 26px;
    margin-top: 20px;
}
.lightng-img {
    width: 21px;
    height: 33px;
    margin:19px;
}
.circle{
    border: 1px solid#E72424;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0px auto 30px
}
.circle--lamp {
    background: url(/images/lamp.png) no-repeat center;
}

.circle--keyboard {
    background: url(/images/keyboard.png) no-repeat center;
}

.circle--lightning {
    background: url(/images/lightning.png) no-repeat center;
}
